/* Style dos botões */

body {
    font-family: Arial;
}

/* Style the tab */
.tab {
    overflow: hidden;
}

    /* Style the buttons inside the tab */
    .tab button {
        display: flex;
        background-color: #98CBC1;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        border-radius: 20px;
        font-style: italic;
        font-weight: 500;
        align-items: center; 
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #3ab59d;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #3ab59d;
        }

/* Style the tab content */
.tabcontent {
    display: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

    .topright:hover {
        color: red;
    }